<!-- <div class="container" style="height: 100vh; position: relative;"> -->
<mat-toolbar color="primary">
  <h4>Welcome To {{businessName}}</h4>
</mat-toolbar>

<div class="container-fluid" [hidden]="!loading">
  <div class="column main-progress">
    <mat-progress-spinner style="margin:0 auto; margin-top: 50%" color="accent" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>

<!-- main body -->

<div class="col block" [hidden]="loading">
  <div class="circle">
    <p> ₹ {{amount}}</p>
  </div>


  <!-- <h1></h1> -->
  <form>
    <div class="form-group">
      <div class="row">
        <div class="col">
            <!-- <label for="text">Vehicle Number : {{vehiclenumber}} </label> -->
          <input type="text" class="form-control" id="vehiclenumber" name="vehicleNumber" placeholder="Vehicle Number" [(ngModel)]="vehicleNumber">
        </div>
        <!-- <div class="col-2">
          <i class="fa fa-pencil-square-o" title="Edit" style="font-size:30px"></i>
        </div> -->
      </div>
    </div>

      <div class="form-group">
        <input type="tel" size="2" class="form-control" placeholder="Mobile No." minlength="10" maxlength="10" pattern="[0-9]{10}"
          id="phone" ngModel name="phone" #phn="ngModel">
      </div>
      <div class="form-group">
        <label for="time">In Time : <b> {{inTime | date :'h:mm a'}} </b> </label>
        <!-- <input type="text" class="form-control" id="url"> -->
      </div>
      <div class="form-group">
        <label for="message">Message : </label>
        <p><b>Please exit the parking lot within 15 minutes after completing payment.</b></p>
        <!-- <input type="text" class="form-control" id="url"> -->
      </div>
  </form>
  <button type="submit" class="btn btn-primary test" style="width: 100%" (click)='initPay()'>Pay</button>
</div>