  .block {
    height: 88vh;
    text-align: center;
    vertical-align: middle;
  }

  .circle {
    background: black;
    border-radius: 200px;
    color: white;
    height: 100px;
    font-weight: bold;
    width: 100px;
    display: table;
    margin: 20px auto;
  }

  .circle p {
    vertical-align: middle;
    display: table-cell;
  }

  .test {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }
